.login-wrap {
  height: 100vh;
  width: 100vw;
  background: white;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow: hidden;

  .login-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .login-drag-bar {
    height: 38px;
    width: 100%;
    flex: none;
    -webkit-app-region: drag;
  }

  .login-container {
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    .login-logo {
      height: 84px;
      margin: 56px 0 0 0;

      img {
        height: 100%;
      }
    }

    .login-welcome {
      margin: 24px 0;
    }

    .login-input-field {
      width: 288px;
      font-size: 16px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      transition: all 300ms cubic-bezier(0.25, 0.8, 0.5, 1);

      &.input-focus {
        transform: scale(1.1);
        box-shadow: 0 14px 18px rgba(0,0,0,0.15), 0 10px 18px rgba(0,0,0,0.1);
      }

      .login-input-field-paper {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 6px;
        border-radius: 6px;

        input {
          width: 100%;
          margin-left: 6px;
          outline: none;
          border: none;
          color: #334955;
        }
      }

      &:nth-child(3) {
        margin: 24px 0 36px 0;
      }
    }
  }

  .login-button {
    width: 288px;
    margin: 56px 0;
  }
}